

body {
  background-image: url('black-chalkboard.jpg');
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #4D4B4E;
  color: #D9D7D9;
  margin: 33px;
  font-family: 'Finger Paint', cursive;
  font-size: 13px;
  line-height: 18px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
}

.bgwidth {
  width: 100%;
}

.bgheight {
  height: 100%;
}

p, ol, ul, td {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 20px;
  line-height: 26px;
}

div.container {

}

pre {
  // background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #C2BDC0;
  text-decoration: none;

  &:visited {
    color: #C2BDC0;
  }

  &:hover {
    color: #DECC90;
  }
}

th {
  padding-bottom: 5px;
  font-size: 15px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

input#task_name {
  width: 60%;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

h2 {
    font-family: 'Just Me Again Down Here', cursive;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    color: #fff;
}

h6 {
  font-weight: bold;
}

ul li {
  font-size: 12px;
  list-style: square;
  }

label {
  display: block;
}
